.text-center{
	margin-top: 25px;
    padding: 25px;
    background-color: #0052B4;
    color: #fff;
    border-radius: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    border: 3px solid #0052B4;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #dfa1db;
}


button {
    background-color: rgb(151, 201, 201);
    width: 90px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

button:hover {
    background-color: #2980b9;
}

button:active {
    background-color: #216a94;
}